.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #00009b;
    
    --primary-color: #000b2f;
    --secondary-color: #0048f1;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
} 